bin/*
pkg/*
tags
coverage*
y.output

# Packages
src/github.com
src/golang.org
src/gopkg.in
src/honnef.co

# Fuzz files
*crashers*
*suppressions*
*.zip

# IntelliJ project files
.idea

# visual studio code files
.vscode
src/radon/bin
