{
        "proxy": {
                "endpoint": "{RADON-HOST}:{PORT}",
                "meta-dir": "{RADON-META-DIR}",
                "twopc-enable": false,
                "peer-address": "{RADON-HOST:8080}"
        },
        "binlog": {
                "binlog-dir": "{RADON-BINLOG-DIR}",
                "enable-binlog": true
        },
        "audit": {
                "mode": "N",
                "audit-dir": "{AUDIT-LOG-DIR}"
        },
        "log": {
                "level": "INFO"
        }
}
